<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bytesly.roadcompanion">

    <queries>
        <package android:name="ge.msda.parking" />
    </queries>

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_roadcompanion"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_roadcompanion_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadCompanion">
        <activity
            android:name=".ManagePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentGatewayActivity"
            android:exported="false" />
        <activity
            android:name=".MyAppIntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RoadCompanion.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service android:name=".detectedactivity.DetectedActivityService" />

        <receiver android:name=".detectedactivity.DetectedActivityReceiver" />
    </application>

</manifest>